/* Quando eu queor sinalizar que vou chamar um ID o nome deve vir acompanhado no inicio pelo caractere "jogo da velha" */
#div1{
    background-color: rgb(254, 4, 4);
}

#div2{
    background-color: rgb(0, 72, 255);
}

.estiloTitulo{
    text-shadow: 1px 1px 2px black;
}